<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>522099700374-oblb8igk4eff053d38hgjr4f2lrropat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522099700374-oblb8igk4eff053d38hgjr4f2lrropat</string>
	<key>API_KEY</key>
	<string>AIzaSyAA5FrQ1Mpt7bad40zHEy5Yx8q9SMgya0w</string>
	<key>GCM_SENDER_ID</key>
	<string>522099700374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sebastiancrossa.codeX</string>
	<key>PROJECT_ID</key>
	<string>codex-b4ef4</string>
	<key>STORAGE_BUCKET</key>
	<string>codex-b4ef4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522099700374:ios:75abb2916d9caf41</string>
	<key>DATABASE_URL</key>
	<string>https://codex-b4ef4.firebaseio.com</string>
</dict>
</plist>